<div  class="form-group">
   <form [formGroup]="marksForm" >
    <div>
        <label class="center-block">
            Enter Marks :
        </label>
        <input type="text"  (keypress)="numberOnly($event)" placeholder="English" formControlName="English" class="form-control">
        <div *ngIf="marksForm.controls['English'].invalid && (marksForm.controls['English'].dirty || marksForm.controls['English'].touched)" class="text-danger">
            <small *ngIf="marksForm.controls['English'].errors.required">
              Marks is required.
            </small>
        </div>
        <input type="text"  (keypress)="numberOnly($event)" placeholder="Maths"  formControlName="Math" class="form-control">
       
        <input type="text"  (keypress)="numberOnly($event)" placeholder="Science"  formControlName="Science" class="form-control">
       
        <input type="text"  (keypress)="numberOnly($event)" placeholder="physical"  formControlName="Physical" class="form-control">
       
    </div>
    <div>
        <select formControlName="selectedValue" (change)="onChange($event)">
            <option value="default">--select--</option>
            <option value="percentage">Percentage</option>
            <option value="average">Average</option>
        </select> <br/>
       <p *ngIf="percenttotal">Percentage is: {{percenttotal}}</p>
       <p *ngIf="averageTotal"> Average is: {{averageTotal}}</p>
    </div>  
  <button type="submit" (click)="submit()">Submit</button>
    </form>
    
    <!-- <button type="submit" routerLink="/percentage/{{percenttotal}}/{{english}}/{{math}}/{{science}}/{{physical}}/{{averageTotal}}/">Submit</button> -->
</div>